{
    "processors": [ "stylelint-processor-styled-components" ],
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-styled-components"
    ],
    "syntax": "scss",
    "rules": {
        "block-no-empty": null,
        "comment-empty-line-before": null,
        "declaration-empty-line-before": null,
        "declaration-colon-newline-after": null,
        "declaration-block-semicolon-newline-after": null,
        "function-parentheses-space-inside": "always",
        "indentation": 4,
        "media-feature-parentheses-space-inside": "always",
        "no-duplicate-selectors": null,
        "no-invalid-double-slash-comments": null,
        "number-leading-zero": null,
        "property-no-unknown": [ true, { ignoreProperties: [ "/\/\//" ] } ],
        "rule-empty-line-before": null,
        "selector-attribute-brackets-space-inside": "always",
        "selector-list-comma-newline-after": "always-multi-line",
        "selector-list-comma-space-after": "always-single-line",
        "selector-pseudo-class-parentheses-space-inside": "always",
        "value-list-max-empty-lines": null
    }
}
